.upperNavBar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;

}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #006335;
}

.dlsudLogo,
.registrarLogo,
.dateAndTime {
  position: absolute;
}

.dlsudLogo {
  width: 297px;
  height: 65px;
  top: 6px;
  left: 10px;
}

.registrarLogo {
  width: 92px;
  height: 55px;
  left: 324px;
}

.dateAndTime {
  right: 20px;
  font-family: "Roboto-Bold", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.dateAndTime p {
  margin: 0;
  font-weight: 800;
}

.CounterTitle h1 {
  margin: 0;
  font-family: "Roboto-Bold", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
}
